@media only screen and (max-width: 600px) {
    
  /* .profile-pic {

      float:left;
  } */

  /* .profile-pic2 {

      text-align: center;
  }

  .profile-pic4 {
      
      width: 27%; 
      height: auto; 
      margin-right: 20px; 
      margin-top: 100px;
  } */

  .callBarFixed {

      position: fixed;
      z-index: 999;
      width: 100%;
      top: 0;
  }
  .subNav {

      justify-content: space-between;
      top: calc(56px);
      text-align: center;
      display: block !important;
  }

}