<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/custom.css" rel="stylesheet">
    <title>Vivek Gupta Blog</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


<body style="background-color: #bfce3f  ">



<div class="container">

    <h1>Vivek Gupta's Blog</h1></br>

    <h3>Literature</h3>

    <ul class="posts">
        <li>
            <span>1. </span> » <a href="https://medium.com/@spaceman_vivek/a-relationship-that-matters-5b434337f407" title="A Relationship that matters">A Relationship that matters</a>
        </li>
    </ul>
      
    <h3>Political & Social</h3>
     <ul class="posts">
        <li>
            <span>1. </span> » <a href="https://medium.com/@spaceman_vivek/the-office-of-profit-underneath-public-opinions-e5962144576">The “office of Profit” underneath public opinions!</a>
        </li>
        <li>
            <span>2. </span> » <a href="https://medium.com/@spaceman_vivek/a-euthanasia-for-passiveness-aef974ec2d02">A Euthanasia for Passiveness</a>
        </li>
        <li>
            <span>3. </span> » <a href="https://medium.com/@spaceman_vivek/importance-of-size-and-graphic-nature-of-pictorial-warnings-used-in-tobacco-products-7bd12a8127a1">Importance of size and graphic nature of pictorial warnings used in tobacco products</a>
        </li>
        <li>
            <span>4. </span> » <a href="https://medium.com/@spaceman_vivek/the-mughals-281272e145ed">The Mughals</a>
        </li>
        <li>
            <span>5. </span> » <a href="https://medium.com/@spaceman_vivek/four-major-occurrences-of-the-1970s-following-which-indira-gandhi-declared-the-emergency-cb999a1776b6">Four major occurrences of the 1970s following which Indira Gandhi declared the Emergency</a>
        </li>
    </ul>
</div>



    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    <!-- IE10 viewport bug workaround -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    
    <!-- Placeholder Images -->
    <script src="js/holder.min.js"></script>

</body>

</html>
