<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_002{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:37.9px;color:rgb(184,184,184);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:37.9px;color:rgb(184,184,184);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:37.9px;color:rgb(114,114,114);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:37.9px;color:rgb(114,114,114);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:14.4px;color:rgb(89,178,76);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:14.4px;color:rgb(89,178,76);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:11.0px;color:rgb(89,178,76);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:11.0px;color:rgb(89,178,76);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:10.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:10.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:10.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:10.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_011{font-family:Arial,serif;font-size:10.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_011{font-family:Arial,serif;font-size:10.9px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:11.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:11.0px;color:rgb(114,114,114);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:11.0px;color:rgb(114,114,114);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:8.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:8.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_015{font-family:Arial,serif;font-size:10.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="8eb8545c-98ed-11e9-9d71-0cc47a792c0a_id_8eb8545c-98ed-11e9-9d71-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="8eb8545c-98ed-11e9-9d71-0cc47a792c0a_id_8eb8545c-98ed-11e9-9d71-0cc47a792c0a_files/background1.jpg" width=595 height=841></div>
<div style="position:absolute;left:76.23px;top:83.35px" class="cls_002"><span class="cls_002">→</span></div>
<div style="position:absolute;left:149.28px;top:83.35px" class="cls_003"><span class="cls_003"> </span><A HREF="https://gitvivekgupta.github.io/vivekgupta.github.io/index.html">Github</A> </div>
<div style="position:absolute;left:76.23px;top:96.90px" class="cls_002"><span class="cls_002">→</span></div>
<div style="position:absolute;left:149.28px;top:96.90px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.linkedin.com/in/vivek-gupta-783788145/">Linkedin</A> </div>
<div style="position:absolute;left:76.23px;top:110.45px" class="cls_002"><span class="cls_002">→</span></div>
<div style="position:absolute;left:149.28px;top:110.45px" class="cls_003"><span class="cls_003"> </span><A HREF="https://gitvivekgupta.github.io/vivekgupta.github.io/">Portfolio</A> </div>
<div style="position:absolute;left:337.14px;top:111.17px" class="cls_004"><span class="cls_004">Vivek</span><span class="cls_005"> Gupta</span></div>
<div style="position:absolute;left:146.14px;top:210.91px" class="cls_006"><span class="cls_006">Professional Experience</span></div>
<div style="position:absolute;left:145.28px;top:232.74px" class="cls_003"><span class="cls_003">1. The Perch Group</span></div>
<div style="position:absolute;left:145.28px;top:246.29px" class="cls_003"><span class="cls_003">- Designation:</span><span class="cls_002"> Product Head</span></div>
<div style="position:absolute;left:145.28px;top:259.84px" class="cls_003"><span class="cls_003">- Tenure:</span><span class="cls_002"> June,2019 - Present</span></div>
<div style="position:absolute;left:146.14px;top:286.92px" class="cls_007"><span class="cls_007">{</span><span class="cls_008"> Working on end to end integration of the web product with IVR, CMS and CRM.</span></div>
<div style="position:absolute;left:146.14px;top:303.20px" class="cls_007"><span class="cls_007">{</span><span class="cls_002"> working on re-designing complete web platform.</span></div>
<div style="position:absolute;left:146.14px;top:319.48px" class="cls_007"><span class="cls_007">{</span><span class="cls_002"> Working on dynamic pricing model using machine learning.</span></div>
<div style="position:absolute;left:146.14px;top:336.74px" class="cls_007"><span class="cls_007">{</span><span class="cls_009"> Creating and integrating features like chatbots and other technological advance-</span></div>
<div style="position:absolute;left:155.81px;top:350.30px" class="cls_002"><span class="cls_002">ments are critical part of my job.</span></div>
<div style="position:absolute;left:146.14px;top:365.63px" class="cls_007"><span class="cls_007">{</span><span class="cls_002"> Leading end to end SEO operations for clients and the product.</span></div>
<div style="position:absolute;left:145.28px;top:381.92px" class="cls_003"><span class="cls_003"> </span><A HREF="http://www.focusacademy.in/">2. Focus Academy for Career Enhancement</A> </div>
<div style="position:absolute;left:145.28px;top:395.47px" class="cls_003"><span class="cls_003">- Designation:</span><span class="cls_002"> Business Development Manager</span></div>
<div style="position:absolute;left:145.28px;top:409.02px" class="cls_003"><span class="cls_003">- Tenure:</span><span class="cls_002"> June,2015 - November,2015</span></div>
<div style="position:absolute;left:146.14px;top:433.05px" class="cls_007"><span class="cls_007">{</span><span class="cls_010"> Worked as a Business Head of North Indian Region and handled business develop-</span></div>
<div style="position:absolute;left:155.81px;top:446.60px" class="cls_002"><span class="cls_002">ment efforts for both new clients acquisition and existing client servicing.</span></div>
<div style="position:absolute;left:146.14px;top:461.93px" class="cls_007"><span class="cls_007">{</span><span class="cls_011"> Develop and solicit tie-ups with 100+ colleges in the assigned region with FACE</span></div>
<div style="position:absolute;left:155.81px;top:475.48px" class="cls_002"><span class="cls_002">engagement model for meeting their training requirements.</span></div>
<div style="position:absolute;left:146.14px;top:490.70px" class="cls_007"><span class="cls_007">{</span><span class="cls_012"> Studied engineering education in respective institutions from the management</span></div>
<div style="position:absolute;left:155.81px;top:504.35px" class="cls_002"><span class="cls_002">perspective to provide productive training packages.</span></div>
<div style="position:absolute;left:146.14px;top:519.68px" class="cls_007"><span class="cls_007">{</span><span class="cls_010"> Created and executed a well-defined market entry strategies for geographic expan-</span></div>
<div style="position:absolute;left:155.81px;top:533.23px" class="cls_002"><span class="cls_002">sion in PAN India initiative.</span></div>
<div style="position:absolute;left:146.14px;top:552.88px" class="cls_006"><span class="cls_006">Publications</span></div>
<div style="position:absolute;left:145.28px;top:574.71px" class="cls_002"><span class="cls_002">Hybrid Intelligent System for Influencing Buying Decision</span></div>
<div style="position:absolute;left:145.28px;top:588.26px" class="cls_002"><span class="cls_002">Publisher: Springer.</span></div>
<div style="position:absolute;left:146.14px;top:610.49px" class="cls_006"><span class="cls_006">Technology</span></div>
<div style="position:absolute;left:145.28px;top:632.33px" class="cls_003"><span class="cls_003">Languages:</span><span class="cls_002"> Javascript, Python, c++, Java.</span></div>
<div style="position:absolute;left:145.28px;top:645.88px" class="cls_003"><span class="cls_003">Database:</span><span class="cls_002"> SQL, MongoDB</span></div>
<div style="position:absolute;left:145.28px;top:659.43px" class="cls_003"><span class="cls_003">Libraries:</span><span class="cls_002"> MERN Stack, NLTK, sklearn, ELK Stack.</span></div>
<div style="position:absolute;left:164.11px;top:733.69px" class="cls_013"><span class="cls_013">H (+91) 9462032393</span></div>
<div style="position:absolute;left:274.15px;top:733.69px" class="cls_013"><span class="cls_013">•  B</span><A HREF="mailto:vivek.gupta.blue@gmail.com"> vivek.gupta.blue@gmail.co</A>m</div>
<div style="position:absolute;left:504.51px;top:733.69px" class="cls_013"><span class="cls_013">1/2</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="8eb8545c-98ed-11e9-9d71-0cc47a792c0a_id_8eb8545c-98ed-11e9-9d71-0cc47a792c0a_files/background2.jpg" width=595 height=841></div>
<div style="position:absolute;left:146.14px;top:79.91px" class="cls_006"><span class="cls_006">Internships</span></div>
<div style="position:absolute;left:145.28px;top:101.75px" class="cls_003"><span class="cls_003">Indian Institute of Technology, Bombay</span></div>
<div style="position:absolute;left:145.28px;top:115.30px" class="cls_002"><span class="cls_002">- Designation: Research Intern</span></div>
<div style="position:absolute;left:145.28px;top:128.84px" class="cls_002"><span class="cls_002">- Tenure: February,2016 - February,2017</span></div>
<div style="position:absolute;left:146.14px;top:155.93px" class="cls_007"><span class="cls_007">{</span><span class="cls_002"> Served as a Software Engineer (Nodejs).</span></div>
<div style="position:absolute;left:146.14px;top:172.20px" class="cls_007"><span class="cls_007">{</span><span class="cls_002"> Worked on Lazy learning based recommender systems.</span></div>
<div style="position:absolute;left:146.14px;top:188.48px" class="cls_007"><span class="cls_007">{</span><span class="cls_002"> Managed end to end Product for Microsoft Research.</span></div>
<div style="position:absolute;left:146.14px;top:212.19px" class="cls_006"><span class="cls_006">Extra co-curricular Activities</span></div>
<div style="position:absolute;left:145.28px;top:234.02px" class="cls_002"><span class="cls_002">1. Campus Ambassador, Geeks for Geeks</span></div>
<div style="position:absolute;left:145.28px;top:247.57px" class="cls_002"><span class="cls_002">2. Jaipur Literature Festival, Teamwork Arts.</span></div>
<div style="position:absolute;left:145.28px;top:261.12px" class="cls_002"><span class="cls_002">3. Mahendra Excellence in Theatre Awards, Teamwork Arts.</span></div>
<div style="position:absolute;left:146.14px;top:283.35px" class="cls_006"><span class="cls_006">Education</span></div>
<div style="position:absolute;left:88.08px;top:306.18px" class="cls_002"><span class="cls_002">2017-2019</span></div>
<div style="position:absolute;left:146.14px;top:306.18px" class="cls_003"><span class="cls_003">Master of Technology</span><span class="cls_002">,</span><span class="cls_014"> Birla Institute of Technology</span><span class="cls_002">, .</span></div>
<div style="position:absolute;left:146.14px;top:320.68px" class="cls_015"><span class="cls_015">Computer Science</span></div>
<div style="position:absolute;left:88.08px;top:337.01px" class="cls_002"><span class="cls_002">2015-2017</span></div>
<div style="position:absolute;left:146.14px;top:337.01px" class="cls_003"><span class="cls_003">Post Graduate Diploma</span><span class="cls_002">,</span><span class="cls_014"> Narsee Monjee Institute of Management Studies</span><span class="cls_002">, .</span></div>
<div style="position:absolute;left:146.14px;top:351.50px" class="cls_015"><span class="cls_015">Business Management</span></div>
<div style="position:absolute;left:88.08px;top:367.83px" class="cls_002"><span class="cls_002">2011-2015</span></div>
<div style="position:absolute;left:146.14px;top:367.83px" class="cls_003"><span class="cls_003">Bachelor of Technology</span><span class="cls_002">,</span><span class="cls_014"> Swami Keshvanand Institute of Technology</span><span class="cls_002">, .</span></div>
<div style="position:absolute;left:146.14px;top:382.32px" class="cls_015"><span class="cls_015">Computer Science</span></div>
<div style="position:absolute;left:146.14px;top:405.08px" class="cls_006"><span class="cls_006">Short Term Courses</span></div>
<div style="position:absolute;left:145.28px;top:426.92px" class="cls_003"><span class="cls_003"> </span><A HREF="https://drive.google.com/file/d/1FiYr5DLAoGPzIMKwmwumuwx5aDLHmf0s/view?usp=sharing">IIT Khagarpur: Data Analytics with SAS</A> </div>
<div style="position:absolute;left:145.28px;top:440.47px" class="cls_003"><span class="cls_003"> </span><A HREF="https://drive.google.com/file/d/1EUuapG4cUwRGiKYNj_hzXwKlLDfXGTSn/view?usp=sharing">IIT Kanpur: Machine Learning</A> </div>
<div style="position:absolute;left:146.14px;top:462.70px" class="cls_006"><span class="cls_006">Certifications</span></div>
<div style="position:absolute;left:145.28px;top:484.54px" class="cls_003"><span class="cls_003"> </span><A HREF="https://gitvivekgupta.github.io/vivekgupta.github.io/view/certi.html">AMCAT: Data Processing Specialist</A> </div>
<div style="position:absolute;left:145.28px;top:498.09px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/verify/DUUJ2MCRTVVR">HTML, CSS and JavaScript</A> </div>
<div style="position:absolute;left:145.28px;top:511.64px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/verify/ELMT8BPU5RRE">Responsive Web Design</A> </div>
<div style="position:absolute;left:145.28px;top:525.18px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/verify/C93CS85C68ZE">Parallel Programming in Java</A> </div>
<div style="position:absolute;left:145.28px;top:538.73px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/verify/ZQYFTE8NCS4C">Data Visualization</A> </div>
<div style="position:absolute;left:145.28px;top:552.28px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/verify/QPDY9VQLF3MK">Data Management & Visualization</A> </div>
<div style="position:absolute;left:145.28px;top:565.83px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/verify/XHYB9T6DJV3A">Data Analysis Tools</A> </div>
<div style="position:absolute;left:145.28px;top:579.38px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/verify/MNDK7PN9CLBV">Regression Modeling in Practice</A> </div>
<div style="position:absolute;left:145.28px;top:592.93px" class="cls_003"><span class="cls_003"> </span><A HREF=" https://www.coursera.org/account/accomplishments/verify/CX6MSXF966L2">Object Oriented Programming in Java</A> </div>
<div style="position:absolute;left:145.28px;top:606.48px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/verify/5AP67CT5BBP2">Applied Text Mining in Python</A> </div>
<div style="position:absolute;left:145.28px;top:620.03px" class="cls_003"><span class="cls_003"> </span><A HREF=" https://www.coursera.org/account/accomplishments/verify/B4VTENWBYHUZ">Mathematics for Machine Learning: Linear Algebra</A> </div>
<div style="position:absolute;left:145.28px;top:633.58px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/specializations/product-management?">Software Product Management Specialization</A> </div>
<div style="position:absolute;left:145.28px;top:647.13px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/verify/VPVVMPYM9FD2">Introduction to Corporate Finance</A> </div>
<div style="position:absolute;left:145.28px;top:660.68px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/records/FNHD3S8BVYJP">Introduction to Financial Accounting</A> </div>
<div style="position:absolute;left:145.28px;top:674.23px" class="cls_003"><span class="cls_003"> </span><A HREF="https://www.coursera.org/account/accomplishments/verify/3GR5QC4X8ADH">Introduction to Recommender Systems</A> </div>
<div style="position:absolute;left:164.11px;top:733.69px" class="cls_013"><span class="cls_013">H (+91) 9462032393</span></div>
<div style="position:absolute;left:274.15px;top:733.69px" class="cls_013"><span class="cls_013">•  B</span><A HREF="mailto:vivek.gupta.blue@gmail.com"> vivek.gupta.blue@gmail.co</A>m</div>
<div style="position:absolute;left:504.51px;top:733.69px" class="cls_013"><span class="cls_013">2/2</span></div>
</div>

</body>
</html>
